/*
    Stylesheet for
    Landing Page for Students & Companies
*/

/* BG */
    .bg {
        position: fixed;
        top: 60px;
        z-index: -1;
        width: 100%;
        height: 100vh;
        background-image: url('../img/landing-bg-placeholder.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.5;
        filter: blur(2px);
    }

/* Sign Up */
    .signup-container,
    .signin-container {
        display: inline-block;
        vertical-align: top;
        margin: 20px 40px;
        border: 1px solid rgba(0,0,0, 0.2);
        border-radius: 4px;
        background: rgba(255,255,255, 0.7);
        box-shadow: 0 5px 15px rgba(0,0,0, 0.1);
    }
    @supports
        (-webkit-backdrop-filter: var(--blur)) or
        (-moz-backdrop-filter: var(--blur)) or
        (backdrop-filter: var(--blur)) {
        .signup-container,
        .signin-container {
            background: rgba(255,255,255, 0.7);
            -webkit-backdrop-filter: var(--blur);
            -moz-backdrop-filter: var(--blur);
            backdrop-filter: var(--blur);
        }
    .signup-container table,
    .signin-container table {
        text-align: left;
        border-collapse: separate;
        border-spacing: 20px;
    }
    .signup-container p,
    .signin-container p {
        font-size: 14px;
        opacity: 0.5;
    }
    .signup-container p::after {
        content: ' *';
        color: red;
    }
    .signup-container table input,
    .signin-container table input {
        padding: 5px;
        outline: none;
        font-size: 16px;
    }
    .companyname { width: 355px; }
    .email,
    .password { width: calc(100% - 13px); }
    .firstname,
    .lastname,
    .companyname,
    .email,
    .password {
        border: 1px solid var(--blue-light-a);
        border-radius: 2px;
        background: #fff;
        color: var(--blue-dark);
        transition: background 0.3s ease-in-out;
    }
    .firstname:focus,
    .lastname:focus,
    .companyname:focus,
    .email:focus,
    .password:focus { background: var(--blue-light-a); }
    .forgot {
        font-size: 14px;
        font-style: italic;
        color: var(--blue-light);
    }

/* Info / Explanation */
    .info {
        margin: 80px 0;
        padding: 50px;
        background: #fff;
    }
    .info em {
        color: var(--blue-light);
    }
    .explanation,
    .info h2,
    p.companies { margin: 20px 0 0 0; }
    .companies img {
        width: 100px;
        height: 100px;
        margin: 10px 20px;
    }
