/*
    Common Stylesheet for
    All Pages
*/

/* Fonts */
    @import url('https://fonts.googleapis.com/css?family=Encode+Sans');

/* Variables */
    :root {
        --blue-dark: rgb(10, 47, 76);
        --blue-dark-a90: rgba(10, 47, 76, 0.9);
        --blue-dark-a50: rgba(10, 47, 76, 0.5);
        --blue-dark-a30: rgba(10, 47, 76, 0.3);
        --blue-light: rgb(16, 111, 183);
        --blue-light-a90: rgba(16, 111, 183, 0.9);
        --blue-light-a50: rgba(16, 111, 183, 0.5);
        --blue-light-a30: rgba(16, 111, 183, 0.3);
        --blue-lingrad: linear-gradient(
                            170deg,
                            var(--blue-dark),
                            var(--blue-light)
                        );
        --blue-lingrad-a50: linear-gradient(
                            170deg,
                            var(--blue-dark-a50),
                            var(--blue-light-a50)
                        );

        --blue-lingrad-a90: linear-gradient(
                    170deg,
                    var(--blue-dark-a90),
                    var(--blue-light-a90)
                );

        --transition: 0.3s ease-in-out;
        --transition-fast: 0.2s ease-in-out;
        --blur: blur(5px) saturate(1.8);
    }

/* Common */
    * {
        margin: 0;
        padding: 0;
        font-family: 'Encode Sans', sans-serif;
        font-weight: normal;

    }
    body {
        text-align: center;
        background: #eee;
    }
    a {
        text-decoration: none;
        transition: var(--transition-fast);
        color: var(--blue-light);
    }
    a:not(:matches(.logo, .companies)):hover {
        border-bottom: 2px solid;
    }
    input[type=submit] {
        cursor: pointer;
        padding: 5px 10px;
        border: 2px solid var(--blue-light-a30);
        border-radius: 4px;
        background: var(--blue-lingrad);
        color: #fff;
        font-size: 16px;
        box-shadow: 0 3px 5px rgba(0,0,0, 0.3);
        transition: var(--transition-fast);
    }
    input[type=submit]:hover { opacity: 0.8; }
    input[type=submit]:active {
        opacity: 1;
        box-shadow: none;
        transform: scale(0.9, 0.9);
    }
    footer {
        margin: 50px 0 0 0;
        padding: 20px 0;
        border-top: 4px solid rgba(0,0,0, 0.1);
        background: var(--blue-lingrad-a90);
        color: #fff;
    }

/* Navbar */
    .navbar {
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 70px;
        border-bottom: 4px solid rgba(0,0,0, 0.1);
        background: var(--blue-lingrad-a90);
    }
    .navbar * { color: #fff; }
    .navbar .logo img { max-height: 50px; }
    .navbar .logo,
    .navbar .links {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }
    .navbar .logo { left: 20px; }
    .navbar .links { right: 15px; }
    .navbar .links a { margin: 0 15px; }
    .navbar-break { height: calc(60px + 80px); }

@supports
    (-webkit-backdrop-filter: var(--blur)) or
    (-moz-backdrop-filter: var(--blur)) or
    (backdrop-filter: var(--blur)) {
    .navbar,
    footer {
        background: var(--blue-lingrad-a90);
        -webkit-backdrop-filter: var(--blur);
        -moz-backdrop-filter: var(--blur);
        backdrop-filter: var(--blur);
    }
}
